body {
        background-color: black;
}

h1, h2 {
        color: white;
        text-align: center; 
}

div {
        color: purple
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}